@{
    // TREATS DETAIL PAGE
    ViewData["Title"] = $"{@Model.Name} Details";
}

<div class="flavor-btn-container">
    @foreach(FlavorTreat flavorTreat in Model.FlavorTreats)
    {
        <button class="btn w-50 btn-inline @flavorTreat.Flavor.Name">
            <a href="/flavors/details/@flavorTreat.Flavor.FlavorId" class="flavor-link">@flavorTreat.Flavor.Name</a>
        </button>
    }
</div>

<h1>
    @Model.Name 
    

    @if ((bool)ViewData["IsAdmin"])
    {
        <a href="/treats/edit/@Model.TreatId">✏️</a>
        <a href="#" data-id="@Model.TreatId" data-url="/treats/delete/@Model.TreatId" class="delete-link">❌</a>
    }
</h1>

<img src="@Model.ImageURL" height="350px" alt="A delicious @Model.Name"/>

<div class="btn-container">
    <button class="btn btn-success w-5 btn-block vote-count">🪙 @Model.Votes.Count</button>
</div>

<h2>Description: </h2>
@if (Model.Description == null)
{
    <dd>This is a new hand-crafted tasty treat by Pierre.</dd>
}
else
{
    <dd>@Model.Description</dd>
}



