@{
    ViewData["Title"] = "Treat Form";
}

@model Treat

<h3>@ViewData["Title"]</h3>

<form asp-action="@ViewData["FormAction"]" asp-controller="Treats" method="post">
    @Html.AntiForgeryToken()

    @* IF form is being used to edit, then attach the Id to model. *@
    @if (Model != null && Model.TreatId != 0)
    {
        @Html.HiddenFor(m => m.TreatId)
    }

    @* Name *@
    <div class="form-group">   
        <label asp-for="Name" class="control-label">Name: </label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    @* Description *@
    <div class="form-group">   
        <label asp-for="Description" class="control-label">Description: </label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    @* Flavor 1 *@
    <div class="form-group">
        <label for="flavorId1" class="control-label">Flavor 1: </label>
        <select name="flavorId1" class="form-control" required>
            <option value="">-- Select Flavor --</option>
            @foreach (var item in ViewBag.Flavors as SelectList)
            {
                if (item.Value == ViewBag.SelectedFlavor1.ToString())
                {
                    <option value="@item.Value" selected>@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
    </div>

    @* Flavor 2 *@
    <div class="form-group">
        <label for="flavorId2" class="control-label">Flavor 2: </label>
        <select name="flavorId2" class="form-control">
            <option value="">-- Select Flavor --</option>
            @foreach (var item in ViewBag.Flavors as SelectList)
            {
                if (item.Value == ViewBag.SelectedFlavor2.ToString())
                {
                    <option value="@item.Value" selected>@item.Text</option>
                }
                else
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        </select>
    </div>


    <div class="form-group">
        <input type="submit" value="@ViewData["SubmitButton"]" class="btn btn-primary" />
    </div>
</form>

<p>@Html.ValidationSummary(true, "", new { @class="text-danger" })</p>